/*setting*/
*{padding:0; margin:0; box-sizing:border-box;}
html, body {font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important; color:#222;}
ul,li{list-style:none; list-style-position:inside;}
a {display:block; text-decoration: none !important;}

/*
	main-page
*/
.main_page.container{
	max-width:1296px;
}
.main_page{
	position:relative;
}
.main_page .main_tit {
	margin: 96px 0;
	font-size: 46px;
	line-height: 1.4;
	font-weight:700;
}
.table-wrap {
	display: flex;
	flex-wrap: wrap;
	margin:0 -18px;
}
.table-row {
	flex: 1;
	position:relative;
	box-sizing:border-box;
	padding:0 18px;
}
.table-row:last-of-type {
	min-width:648px;
	margin-top:0px;
}
.table-row:first-of-type{
	height:auto;
	max-width:648px;
}
.table-row:first-of-type .box{
	width:100%;
	height:calc(100vh - 206px);
	max-height:700px;
	transition: all .2s ease-in-out;
}
.column{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	display:block;
	position:relative;
}
.column .box {
	vertical-align: middle;
	overflow: hidden;
	position: absolute;
	border-radius: 14px;
	background: #fff;
	box-shadow: 4px 12px 30px 6px rgb(0 0 0/ 9%);
	transition: box-shadow .2s, top .2s ease-in-out, left .2s ease-in-out, transform .2s ease-in-out ;
	top: 0px;
	left:0px;
	width:297px;
}
.column .box:hover {
	box-shadow: 4px 12px 30px 6px rgb(0 0 0/ 16%);
	transition: box-shadow .2s, top .2s ease-in-out;
}
.box.box-l {
	width:100%;
	position: sticky;
	top: 120px;
}
.box.box-l:hover {
	top: 110px;
}
/*main-contents*/
.txt_wrap {
	position:relative;
	height:197px;
	padding: 25px 24px 0;
	box-sizing: border-box;
	display: block;
}
.txt_wrap .info_cate {
	display: block;
	width: 100%;
}
.txt_wrap .info_cate>img{
	width:36px;
}
.info_cate .txt_cate {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.85rem;
	background: #eee;
	border-radius: 0.4rem;
	padding: 4px 10px;
	margin-left: 4px;
	z-index: 1;
}
.info_cate .txt_cate::after {
	position: absolute;
	content: "";
	top: 0;
	left: -8px;
	width: 0;
	height: 0;
	background: #fff;
	border-top: 8px solid #eee;
	border-bottom: 8px solid none;
	border-left: 8px solid transparent;
	border-right: 8px solid #eee;
	z-index: -10;
}
.card-main-tit {
	margin-top:13px;
}
.card-main-tit.card-l .tit_card{
	font-size: 1.8rem;
}
.card-main-tit .tit_card {
	font-size: 1.3rem;
	height:3.5rem;
	color: #222;
	word-break:keep-all;
	display:inline-block;
	overflow:hidden;
}
.table-row:first-of-type .txt_wrap{
	height:228px;
}
.table-row:first-of-type .img-wrap{
	height:calc(100% - 228px);
}
.img-wrap {
	overflow: hidden;
	display:block;
	height:223px;
}
.img-wrap img {
	width: 100%;
	display: block;
	min-height:100%;
}
.wrap-etc {
	margin: 40px -18px 120px;
}
.wrap-etc .item_etc {
	padding: 0 18px;
	margin-top: 20px;
}

.wrap-etc .item_etc>div {
	height: 300px;
	border-radius: 14px;
}

.wrap-etc .item_etc:first-of-type>div {
	background: #fae100;
	background-image:
		url(https://www.daumkakao.com/page/bg_home_service.png);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: 85% 85%;
}

.wrap-etc .item_etc:last-of-type>div {
	background: #3c64ff;
	background-image:
		url(https://www.daumkakao.com/page/bg_home_recruit.png);
	background-size: 309px 160px;
	background-repeat: no-repeat;
	background-position: 85% 85%;
}
.card-tag {
	color: #777;
	margin-top:24px;
}

.etc-tit {
	font-size: 1.8rem;
	font-weight: 600;
	color: #222;
	line-height: 1.4;
}
@media screen and (max-width: 1439px){
	.main_page.container{
		max-width:952px;
	}
	.table-row:first-of-type{
		min-width:620px;
	}
	.table-row:first-of-type .box{
		height:700px;
	}
	.table-row:last-of-type{
		min-width:0;
		max-width:327px;
	}
	.main_page .main_tit {
		font-size: 36px;
	}
}
@media screen and (max-width: 1023px){
	.main_page.container{
		max-width:630px;
	}
	.table-row:last-of-type{
		margin-top:36px;
		min-width:0;
		max-width:100%;
	}
	.column .box{
		width:calc(50% - 18px);
	}
	.main_page .main_tit {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px){
	.main_page .main_tit {
		margin: 40px 0;
	}
	.table-wrap{
		display:initial;
	}
	.table-row:first-of-type .box{
		height:auto;
	}
	.main_page.container{
		max-width:364px;
	}
	.table-row {
		padding:0;
	}
	.table-row:first-of-type{
		min-width:0;
		flex:none;
	}
	.column .box{
		width:100%;
		min-width:0;
	}
	.card-main-tit.card-l .tit_card {
		font-size:26px;
		max-height:72px;
		line-height:36px;
		height:72px;
	}
	.wrap-etc .item_etc>div{
		height:484px;
		background-position: calc(100% - 32px) calc(100% - 32px);
	}
	.etc-tit{
		font-size:26px;
	}
	
}
/*btn-design*/
button.btn{
	padding:0 !important;
}
.btn{
	vertical-align: top;
	display: inline-block;
}
.btn.btn-s{
	height:40px;
	padding:9px 20px 0;
	line-height:22px;
	border-radius:42px;
	font-size:14px;
}
.btn.btn-m{
	height:50px;
	margin-top:24px;
	padding:12px 24px 0;
	line-height:28px;
	border-radius:52px;
	font-size:16px;
}
.btn.btn-l{
	height:60px;
	margin-top:24px;
	padding:14px 30px 0;
	line-height:32px;
	border-radius:62px;
	font-size:18px;
}
.btn.btn-max{
	width:100%;
}
.btn.btn-custom-dark {
	color: #fff;
	background-color: #000;
}
.btn.btn-custom-dark:hover {
	color: #fff;
	background-color: #000;
}
.btn.btn-custom-yellow {
	color: #000;
	background-color: #fae100;
}
.btn.btn-custom-yellow:hover {
	color: #000;
	background-color: #fae100;
}
.btn.btn-custom-blue {
	color: #fff;
	background-color: #3c64ff;
}
.btn.btn-custom-blue:hover {
	color: #fff;
	background-color: #3c64ff;
}
.btn.btn-custom-gray {
	color: #000;
	background-color: #ddd;
}
.btn.btn-custom-gray:hover {
	color: #000;
	background-color: #ddd;
}
.btn.btn-custom-orange {
	color: #fff;
	background-color: #f77028;
}
.btn.btn-custom-orange:hover {
	color: #fff;
	background-color: #f77028;
}
.btn.btn-custom-purple {
	color: #fff;
	background-color: #801ee3;
}
.btn.btn-custom-purple:hover {
	color: #fff;
	background-color: #801ee3;
}
.link-top{
	display:inline-block;
	background:#000;
	border-radius:50%;
	position:absolute;
	bottom:-100px;
	right:16px;
}
.link-top>svg{
	color:#fff;
}
.link-top:hover{
	background:#555;
}

/*detail-page*/
.detail_page{
	min-height: 1000px;
}
.detail_page .main-tit{
	margin: 80px 0 60px;
}
.detail_page .detail-header{
	border-top:1px solid #222;
	border-bottom:1px solid #aaa;
	padding:22px 14px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.detail-header .num{
	flex-grow:0.5;
	color:#777;
}
.detail-header .category{
	flex-grow:0.5;
	color:#777;
}
.detail-header .tit{
	font-size:1.2rem;
	flex-grow:6;
	font-weight:500;
}
.detail-header .writer{
	flex-grow:1;
	color:#777;
}
.detail-header .regdate{
	flex-grow:1;
	color:#777;
	text-align:right;
}


.detail_page .order-wrap .prev-btn,
.detail_page .order-wrap .next-btn{
	padding:18px 10px;
	color:#222;
	border-top:1px solid #ddd;
}
.detail_page .order-wrap .next-btn{
	border-bottom:1px solid #ddd;
}
.icons-wrap{
	display:flex;
	align-items:center;
	margin-bottom:0;
}
.icons-wrap .icon-link{
	border-radius:50%;
	background:#eee;
	width:44px;
	height:44px;
	text-align:center;
	margin-left:16px;
	position:relative;
}
.icons-wrap .icon-link svg{
	position:relative;
	top:48%;
	transform: translateY(-50%);
	color:#222;
}
.icons-wrap .icon-link .like-count{
	position:absolute;
	top:-5px;
	right:-5px;
	width:20px;
	height:20px;
	font-size:0.8rem;
	border-radius:50%;
	background:#801ee3;
	color:#fff;
}
.icons-wrap .mark-link svg{
	color:#0d6efd;
}
.icons-wrap .like-link svg{
	color:#801ee3;
}

.detail-main{
	margin:20px 0;
	padding:0 20px;
}
.detail-main .content{
	border:none;
	padding:40px 0;
}
.btn-wrap{
	text-align:right;
}
.comment-wrap{
	margin-top:30px;
}
.comment-wrap textarea{
	display:block;
	height: 80px;
	width:100%;
	border:1px solid #777;
}
.comment-wrap button[type=submit]{
	float:right;
}
.comment-wrap button[type=submit]::after{
	content:"";
	display:block;
	position:relative;
	clear:both;
}
.comments ul li{
   background:#f4f4f4;
   padding:20px;
   margin:20px 0;
   border-radius:20px;
}
.reply-link,
.update-link,
.delete-link{
	display:inline-block;
	color:#222;
}


/*sub-page*/
.sub_page{
	min-height:1000px;
}
.sub_page .main_tit {
	margin: 80px 0 0;
	font-size: 2.8rem;
	line-height: 1.4;
	text-align:center;
}

.sub_page .main_tit img,
.sub_page .main_tit span{
	display:inline-block;
	vertical-align:middle;
}
.sub_page .main_txt{
	font-size: 2.2rem;
	line-height: 1.4;
	margin-top:14px;
	margin-bottom: 50px;
}
.sub_page .search-bar{
	margin-top:60px;
	margin-bottom:70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}
.sub_page .search-bar #category,
.sub_page .search-bar #condition{
	border:1px solid #ddd;
	height:50px;
	padding:0 20px;
	outline:0;
	border-radius:30px;
}
.sub_page .search-bar #keyword{
	border:1px solid #ddd;
	width:400px;
	height:50px;
	padding:0 60px 0 20px;
	outline:0;
	border-radius:30px;
}
.sub_page .search-bar button[type=submit]{
	width:80px;
	height:50px;
	border:0;
	background: 0;
	position:absolute;
	top:0;
	right:0;
	border-radius: 0 30px 30px 0;
}
.sub_page .search-bar button[type=submit] svg{
	color:#999;
}
.sub_page .table{
	text-align:center;
}
.sub_page .table-info{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:50px;
}
.sub_page .table-info>p{
	margin-bottom:0
}
.sub_page .table-info a{
	margin-top:0;
	margin-left:10px;
}
.sub_page .table td{
	padding:20px 0 ;
}
.sub_page .table td .subject{
	color:#222;
}
.sub_page .pagination-wrap{
	margin-top:30px;
	text-align:center;
	display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sub_page .pagination-wrap .page-link{
	color:#222;
}
.sub_page .pagination-wrap .active .page-link{
	color:#fff;
	background:#000;
	border:1px solid #000;
}
#signupForm>div{
	display:inline-block;
}
/*form-page*/
.form-page{
	min-height:1000px;
}
.form-page .main-tit{
	margin: 80px 0 60px;
	font-size: 2.8rem;
	line-height: 1.4;
	text-align:center;
}
.form-page .main-tit>img,
.form-page .main-tit>span{
	display:inline-block;
	vertical-align:middle;
}
.form-page .tab{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

.form-page .tab .tab-list>a{
    display: block;
    height: 44px;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: -.5px;
    background:#ddd;
    color:#222;
    margin-right:10px;
}
.form-page .tab .tab-list.active>a{
	background:#222;
	color:#fff;
}








