/*setting*/
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html, body {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important;
	color:#222;
}
ul,li{
	list-style:none;
	list-style-position:inside;
}
a {
	display:block;
	text-decoration: none !important;
}

/*main-tit*/
.main_page{
	position:relative;
}
.main_page .main_tit {
	margin: 60px 0;
	font-size: 2.8rem;
	line-height: 1.4;
}
/*main-grid*/
.table-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
}
.table-row {
	display: flex;
	flex: 1;
	padding: 0 0.5vw;
}
.column {
	flex: 50%;
	padding: 0 0.5vw;
}
.column .box {
	margin-top: 1.0vw;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	border-radius: 14px;
	background: #fff;
	box-shadow: 4px 12px 30px 6px rgb(0 0 0/ 9%);
	transition: box-shadow .2s, top .2s ease-in-out;
	top: 0px;
}
.column .box:hover {
	box-shadow: 4px 12px 30px 6px rgb(0 0 0/ 16%);
	transition: box-shadow .2s, top .2s ease-in-out;
	top: -10px;
}
.box.box-l {
	height: 600px;
	position: sticky;
	top: 120px;
	min-width: 500px;
}
.box.box-l:hover {
	top: 110px;
}
.box.box-m {
	height: 400px;
	min-width: 250px;
}
.box.box-s {
	height: 200px;
	min-width: 250px;
}

/*main-contents*/
.txt_wrap {
	padding: 25px 24px 0;
	box-sizing: border-box;
	display: block;
}
.txt_wrap .info_cate {
	display: block;
	width: 100%;
}
.txt_wrap .info_cate>img{
	width:36px;
}
.info_cate .txt_cate {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.85rem;
	background: #eee;
	border-radius: 0.4rem;
	padding: 4px 10px;
	margin-left: 4px;
	z-index: 1;
}
.info_cate .txt_cate::after {
	position: absolute;
	content: "";
	top: 0;
	left: -8px;
	width: 0;
	height: 0;
	background: #fff;
	border-top: 8px solid #eee;
	border-bottom: 8px solid none;
	border-left: 8px solid transparent;
	border-right: 8px solid #eee;
	z-index: -10;
}
.card-main-tit.card-l{
	margin: 14px 0 18px;
}
.card-main-tit {
	margin: 12px 0 16px;
}
.card-main-tit.card-l .tit_card{
	font-size: 1.8rem;
}
.card-main-tit .tit_card {
	font-size: 1.3rem;
	height:3.5rem;
	color: #222;
	word-break:keep-all;
	display:inline-block;
	overflow:hidden;
}
.img-wrap {
	overflow: hidden;
}
.img-wrap img {
	width: 100%;
	display: block;
}
.wrap-etc {
	margin: 40px 0 120px;
}
.wrap-etc .item_etc {
	padding: 0 0.5vw;
	margin-top: 20px;
}

.wrap-etc .item_etc>div {
	height: 300px;
	border-radius: 14px;
}

.wrap-etc .item_etc:first-of-type>div {
	background: #fae100;
	background-image:
		url(https://www.daumkakao.com/page/bg_home_service.png);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: 85% 85%;
}

.wrap-etc .item_etc:last-of-type>div {
	background: #3c64ff;
	background-image:
		url(https://www.daumkakao.com/page/bg_home_recruit.png);
	background-size: 309px 160px;
	background-repeat: no-repeat;
	background-position: 85% 85%;
}


.card-tag {
	color: #777;
	margin-bottom: 50px;
}

.etc-tit {
	font-size: 1.8rem;
	font-weight: 600;
	color: #222;
	line-height: 1.4;
}

.btn.btn-custom-dark {
	display: inline-block;
	height: 40px;
	margin-top: 24px;
	padding: 9px 20px 0;
	border-radius: 42px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	background-color: #000;
	vertical-align: top;
}

.btn.btn-custom-dark:hover {
	color: #fff;
	background-color: #000;
}
.link-top{
	display:inline-block;
	background:#000;
	border-radius:50%;
	position:absolute;
	bottom:-100px;
	right:16px;
}
.link-top>svg{
	color:#fff;
}
.link-top:hover{
	background:#555;
}

